@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #9333ea;

  background-image: linear-gradient(
    180deg,
    #3b82f6 0%,
    #9333ea 50%,
    #f43f5e 100%
  );

  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.4);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-comic: "Comic Neue", cursive;

  --primary-jars: #fbfbfb;
  --secondary-jars: #BBDCE5;
  --text-primary: #146c94;
  --text-secondary: #4a5568;
}

.dark {
  --primary-jars: #0f172a;
  --secondary-jars: #334155;
  --text-primary: #e2e8f0;
  --text-secondary: #94a3b8;
}

@theme inline {
  --color-primary-jars: var(--primary-jars);
  --color-secondary-jars: var(--secondary-jars);
  --color-text-primary: var(--text-primary)
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dvd-bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
}

.animate-dvd-bounce {
  animation: dvd-bounce 5s linear infinite alternate;
}
